{% extends 'theme/base.html' %}

{% block extra_head %}
    <meta property="og:title" content="Message from {{ message.created_by.username }}" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="kvitter.com" />
    <meta property="og:description" content="{{ message.content }}" />
    <meta property="og:url" content="kvitter.com{{ current_url }}" />
{% endblock %}

{% block pagecontent %}
    <h3>Message detail:</h3>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h5>User:</h5>
            {{message.created_by.first_name}} {{message.created_by.last_name}}
            <small>@{{message.created_by.username}}</small>
        </div>
        <div class="panel-body">
            <h5>Content:</h5>
            <p>{{message.content}}</p>
            <hr />
            <p>Created: {{message.created_datetime}}</p>
        </div>
    </div>
    <div id="message_likes">
        <h3>Likes:</h3>
        {% for like in message.likes.all %}
            <p>{{like.username}} likes this</p>
        {% endfor %}
    </div>
{% endblock %}