{% extends 'theme/base.html' %}

{% block pagecontent %}
    <section id="message_listings">
        <div>
            <h3>All messages:</h3>
            {% for msg in messages %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        {{msg.created_by.first_name}} {{msg.created_by.last_name}} 
                        <small>@{{msg.created_by.username}}</small>
                    </div>
                    <div class="panel-body">
                        <p>{{msg.content}}</p>
                        <hr />
                        <a href="{% url 'message_detail' msg.id %}" role="button"><small>Details</small></a>
                        {% if user.is_authenticated %}
                        &middot;
                        <a href="#" class="like_message" role="button" data-messageid="{{msg.id}}"><small>like/unlike</small></a>
                        <small class="like_counter {{msg.id}}">{{msg.total_likes}}</small>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div>
            <ul class="pagination">
                {% for i in paginator.page_range %}
                    <li><a href="?page={{i}}">{{i}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </section>
    
    <section id="user_auth">
        {% if user.is_anonymous %}
        <div>
            <h3>Log in:</h3>
            
            {% if login_failed %}
                <div class="alert alert-danger" role="alert">Login failed. Please try again!</div>
            {% endif %}
            
            <form method="post" action="/useraccounts/login/">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" type="text" name="username" id="loginUsername" placeholder="Username">
                </div>
                
                <div class="form-group">
                    <input class="form-control" type="password" name="password" id="loginPassword" placeholder="Password">
                </div>
                
                <div class="form-group">
                    <button class="btn btn-default" type="submit">Log in</button>
                </div>
            </form>
        </div>
        
        <div>
            <h3>Register new user</h3>
            
            {% if register_successfull %}
                <div class="alert alert-success" role="alert">User successfully created!</div>
            {% endif %}
            
            {% if username_taken %}
                <div class="alert alert-danger" role="alert">Username allready taken!</div>
            {% endif %}
            
            {% if email_taken %}
                <div class="alert alert-danger" role="alert">Email allready taken!</div>
            {% endif %}
            
            <form method="post" action="/useraccounts/register/">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" type="text" name="username" id="registerUsername" placeholder="Username">
                </div>
                
                <div class="form-group">
                    <input class="form-control" type="email" name="email" id="registerEmail" placeholder="Email address">
                </div>
                
                <div class="form-group">
                    <input class="form-control" type="text" name="firstname" id="registerFirstname" placeholder="Firstname">
                </div>
                
                <div class="form-group">
                    <input class="form-control" type="text" name="lastname" id="registerLastname" placeholder="Lastname">
                </div>
                
                <div class="form-group">
                    <input class="form-control" type="password" name="password" id="registerPassword" placeholder="Password">
                </div>
                
                <div class="form-group">
                    <button class="btn btn-default" type="submit">Register</button>
                </div>
            </form>
        </div>
        {% else %}
        <div>
            <h3>New message:</h3>
            <form method="post" action="/message_app/new_message/">
                {% csrf_token %}
                <div class="form-group">
                    <textarea class="form-control" rows="4" maxlength="140" name="content" id="messageContent" placeholder="Your new message..."></textarea>
                </div>
                
                <div class="form-group">
                    <button class="btn btn-default" type="submit">Send</button>
                </div>
            </form>
        </div>
        {% endif %}
    </section>
{% endblock %}